@charset "utf-8";

@import "abstracts/mixins";
@import "abstracts/placeholders";
@import "abstracts/variable";

@import "base/reset";
@import "base/base";
@import "base/typography";

@import "layout/header";
@import "layout/footer";
@import "layout/landing";

@import "components/buttons";
@import "components/cards";
@import "components/search";
@import "components/sliders";

@import "vendors/fonts";