// @import "base";
// @import "main";
// @import "layout";

// Fonts
@font-face {
    font-family: 'El1945B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'El1945';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {
	font-family: "Noto Sans KR", sans-serif;
}

// Default
* {
	margin: 0;
	padding: 0;
}

// Global Colors
$color-primary: #000;
