@charset "utf-8";

@import "abstracts/mixins";
@import "abstracts/placeholders";
@import "abstracts/variable";

@import "base/reset";
@import "base/base";
@import "base/typography";

@import "layout/header";
@import "layout/footer";

@import "pages/landing";

@import "components/buttons";
@import "components/cards";
@import "components/search";
@import "components/sliders";

@import "vendors/fonts";
// Default

* {
	margin: 0;
	padding: 0;
}

*,*::before, *::after {
	box-sizing: inherit;
}
html {
	font-size: 62.5%;
}

body{
	box-sizing: border-box;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.6;
	font-family: 'Montserrat', 'Noto Sans', sans-serif;
}

ul{
	text-decoration: none;
}

