//////////////////////////////////////////////
// Colors 

$color-primary: #ffd957;
$color-secondary: #262e33;
$color-tertiary: #ffc6c7;
$color-primary-light: #c0c0c0;
$color-primary-dark: #333;
$color-accent: #f91339;
$color-white: #fff;
$color-black: #000;
