//////////////////////////////////////////////
// Landing

.content {
	@extend %screensize-1;
	.divider {
		display: block;
		margin: 1rem 0;
		border-top: 2px solid $color-primary-dark;
		width: 100%;
	}
	&-box {
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		font-size: 1.4rem;
	}
}
