



.card__text-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.2rem 1.2rem 0;
	overflow-wrap: break-word;
}
.card__prev-1 {
	margin-bottom: 2rem;
}
.card__desc {
	overflow-wrap: break-word;
	font-family: "el1945";
	margin: 0.2rem 0 1rem 0;
	& > *:not(2) {
		margin-right: 1rem;
	}
	
	&--hearts {
		margin-left: 1.4rem;
	}
	&--sale {
		color: $color-accent;
		text-decoration: underline;
		font-style: italic;
		letter-spacing: -0.1rem;
		margin-left: 2rem;
	}
}
.card__image {
	position: relative;
	overflow: hidden;
	width: 30rem;
	height: 20rem;

	&-holder {
		position: absolute;
		background-image: url("https://picsum.photos/300/200?grayscale");
		width: 100%;
		height: 100%;
		// width: 30rem;
		// height: 20rem;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		overflow: hidden;
		transition: all 0.5s;
	}
	// @_@ hover 위치 @_@
	&-holder:hover {
		transform: scale(1.2);
	}
}
.card__prev-1 {
	max-width: 30rem;
	margin-right: 1rem;
	&:last-child {
		margin-right: 0;
	}
	border: 1px solid $color-primary-light;
	overflow: hidden;
	position: relative;
	.prev-category {
		height: 30px;
		position: absolute;
		top: 0;
		bottom: 0;
		display: inline-block;
		font-size: 1.2rem;
		font-family: Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		border: 1px solid $color-primary-light;
		padding: 0.5rem 1.5rem;
		margin: 0.5rem 1.2rem;
		border-radius: 30rem;
		background-color: #666;
		color: white;
	}
}