@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.card__container, .search, .main__slider {
  width: 124rem;
  margin: 0 auto; }

/*** The new CSS Reset - version 1.4.4 (last updated 22.12.2021) ***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(iframe):not(canvas):not(img):not(svg):not(video):not(svg *):not(symbol *)) {
  all: unset;
  display: revert; }

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none; }

/* For images to not be able to exceed their container */
img {
  max-width: 100%; }

/* removes spacing between cells in tables */
table {
  border-collapse: collapse; }

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert; }

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none; }

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space; }

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element; }

@font-face {
  font-family: 'el1945B';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'el1945';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.notosanskr * {
  font-family: 'Playfair Display', sans-serif; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  font-family: 'Playfair Display','el1945',sans-serif; }

ul.items {
  color: #000;
  text-decoration: none;
  font-size: 1.6rem; }

h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.2rem; }

h2 {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 0.2rem; }

h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 0.2rem; }

h4 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.2rem; }

h5 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.2rem; }

h6 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.2rem; }

.header {
  width: 124rem;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 10%;
  font-family: inherit; }
  .header__logo-box {
    flex: 0 0 150px; }
  .header__logo {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold; }
  .header-nav {
    display: flex; }
  .header nav-menu > * {
    display: flex;
    justify-content: start; }
  .header__navigation {
    flex: 1 0 25%;
    font-family: "Playfair Display";
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header__navigation-items {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase; }
      .header__navigation-items > * {
        padding: 2rem; }

footer {
  height: 300px; }

.card__container .divider {
  display: block;
  margin: 1rem 0;
  border-top: 2px solid #333;
  width: 100%; }

.card__container .card__list {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem; }

.button-tag {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .button-tag__tag--search {
    margin-right: 1rem;
    padding: 0.5rem 2rem;
    border: 1px solid #c0c0c0;
    border-radius: 10rem; }

.menu-icon {
  animation: all 0.2s; }
  .menu-icon .line {
    height: 2px;
    width: 25px;
    background: #333;
    margin: 5px auto;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .menu-icon--hamburger {
    animation: all 0.2s; }
    .menu-icon--hamburger:active .line:nth-child(1), .menu-icon--hamburger:visited .line:nth-child(1), .menu-icon--hamburger:focus .line:nth-child(1) {
      transform: rotate(45deg) translate(6px, 6px); }
    .menu-icon--hamburger:active .line:nth-child(2), .menu-icon--hamburger:visited .line:nth-child(2), .menu-icon--hamburger:focus .line:nth-child(2) {
      visibility: hidden; }
    .menu-icon--hamburger:active .line:nth-child(3), .menu-icon--hamburger:visited .line:nth-child(3), .menu-icon--hamburger:focus .line:nth-child(3) {
      transform: rotate(-45deg) translate(4px, -4px); }

.card__text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.2rem 1.2rem 0;
  overflow-wrap: break-word; }

.card__prev-1 {
  margin-bottom: 2rem; }

.card__desc {
  overflow-wrap: break-word;
  font-family: "el1945";
  margin: 0.2rem 0 1rem 0; }
  .card__desc > *:not(2) {
    margin-right: 1rem; }
  .card__desc--hearts {
    margin-left: 1.4rem; }
  .card__desc--sale {
    color: #f91339;
    text-decoration: underline;
    font-style: italic;
    letter-spacing: -0.1rem;
    margin-left: 2rem; }

.card__image {
  position: relative;
  overflow: hidden;
  width: 30rem;
  height: 20rem; }
  .card__image-holder {
    position: absolute;
    background-image: url("https://picsum.photos/300/200?grayscale");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: all 0.5s; }
  .card__image-holder:hover {
    transform: scale(1.2); }

.card__prev-1 {
  max-width: 30rem;
  margin-right: 1rem;
  border: 1px solid #c0c0c0;
  overflow: hidden;
  position: relative; }
  .card__prev-1:last-child {
    margin-right: 0; }
  .card__prev-1 .prev-category {
    height: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    display: inline-block;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    border: 1px solid #c0c0c0;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 1.2rem;
    border-radius: 30rem;
    background-color: #666;
    color: white; }

.search {
  display: block;
  align-items: center;
  font-size: 1.6rem;
  position: relative; }
  .search__input {
    display: flex;
    justify-content: center;
    padding: 0rem;
    transition: all 0.2s;
    background-color: #fff;
    border: 2px solid #000; }
    .search__input-text {
      width: 100%;
      padding: 0 7rem; }
    .search__input:focus {
      width: 100%;
      outline: none; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #c0c0c0; }
  .search .icon-search {
    width: 2.25rem;
    height: 2.25rem;
    fill: #000;
    position: absolute;
    top: 1.15rem;
    left: 3rem;
    left: 3rem;
    left: 3rem; }
  .search__button {
    padding: 1rem 2rem;
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.3rem; }

.main__slider-box {
  height: 35rem;
  padding: 2rem 0;
  margin: 1.6rem 0;
  border: 2px solid #000;
  background-image: url(https://picsum.photos/400/340?grayscale);
  background-size: cover; }

@font-face {
  font-family: 'el1945B';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'el1945';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.notosanskr * {
  font-family: 'Playfair Display', sans-serif; }
